.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
}

.cont {
  width: 100%;
  max-width: 1300px;
  min-height: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.cont.cont-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cont.quotes-cont {
  max-width: 900px;
  padding-right: 74px;
  padding-left: 74px;
}

.cont.cont-footer {
  padding-top: 45px;
}

.cont.cont-about {
  padding-top: 35px;
  padding-bottom: 25px;
}

.cont.cont-about.cont-team {
  padding-top: 56px;
  padding-bottom: 53px;
}

.body {
  background-color: #fff;
  font-family: webfont, sans-serif;
  color: #354772;
  font-size: 14px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  padding-left: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.nav-link {
  padding-top: 8px;
  padding-bottom: 5px;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  color: #494b61;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #a8986e;
}

.nav-link.w--current {
  color: #a8986e;
}

.nav-link.nav-link-foot {
  margin-right: 7px;
  margin-left: 7px;
  padding-right: 13px;
  padding-left: 13px;
  color: #304672;
  font-size: 15px;
  font-weight: 700;
}

.nav-link.nav-link-foot:hover {
  color: #a8986e;
}

.nav-link.nav-link-foot.w--current {
  color: #a8986e;
}

.container {
  width: 600px;
  margin-right: 0px;
  float: right;
}

.hero-sec {
  height: auto;
}

.hero-sec.hero-home {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/d5-hero-home.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-sec.hero-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 470px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/d2-hero-about.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-sec.hero-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 470px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/d2-hero-team.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-sec.hero-contact {
  min-height: 750px;
  background-image: url('../images/d2-hero-contact.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.link-block {
  width: 35%;
  margin-top: 0px;
}

.nav-menu {
  float: right;
}

.gold-hero-text {
  display: block;
  width: 56%;
  max-width: 740px;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 63px;
}

.main-logo {
  width: 100%;
}

.logo-link {
  width: 40%;
  max-width: 419.1875px;
}

.h-half-pic {
  width: 45%;
  height: 100%;
  float: left;
  background-image: url('../images/d2-home-coins.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.h-half-pic.half-pic-text {
  padding-top: 25px;
}

.h-half-pic.half-pic-2 {
  width: 55%;
  background-image: url('../images/d2-home-man.jpg');
}

.hi {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #354772;
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
}

.hi.h1-top {
  margin-bottom: 25px;
  color: #30425d;
  font-weight: 900;
}

.hi.h1-about {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #304672;
  text-align: left;
  text-transform: uppercase;
}

.hi.h1-about.about2 {
  margin-bottom: 15px;
  text-align: center;
}

.hi.h1-about.h22 {
  font-size: 19px;
}

.h-body-sec {
  width: 100%;
  padding-top: 0px;
  background-color: #ebecec;
}

.half-text {
  width: 55%;
  padding-top: 22px;
  padding-right: 56px;
  padding-left: 56px;
  float: left;
}

.half-text.half-text-2 {
  width: 45%;
}

.para {
  color: #304672;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}

.para.para-body {
  margin-bottom: 31px;
  font-size: 17px;
  line-height: 29px;
}

.button {
  display: block;
  width: 108.828125px;
  margin-top: 41px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d4d6d8;
  -webkit-transition: all 480ms ease;
  transition: all 480ms ease;
  color: #30425d;
  font-weight: 700;
}

.button:hover {
  background-color: #b2b4b6;
}

.quote-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 240px;
  padding: 70px 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3a3d61;
}

.quotes-t {
  margin-top: 9px;
  font-family: webfont, sans-serif;
  color: #30425d;
  font-size: 29px;
  line-height: 39px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.footer {
  min-height: 300px;
  padding-bottom: 49px;
  background-image: url('../images/d33-footer-blue-velvet.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-over {
  height: 100%;
  background-color: rgba(189, 15, 171, 0.88);
}

.footer-gold-logo {
  display: block;
  max-width: 309px;
  margin-right: auto;
  margin-left: auto;
}

.quote-name-t {
  margin-top: 15px;
  margin-bottom: 2px;
  color: #304672;
  font-weight: 900;
  text-align: center;
}

.footer-address {
  margin-top: 5px;
  color: #c4c8ca;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.copyright-text {
  margin-top: 39px;
  color: #6a7a94;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.foot-menu {
  height: 40px;
  padding-top: 5px;
  background-color: #ebecec;
}

.foot-menu-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-div-text {
  max-width: 900px;
  margin-right: auto;
  margin-bottom: 34px;
  margin-left: auto;
  padding-right: 34px;
  padding-bottom: 35px;
  padding-left: 34px;
}

.mt-icon {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;
}

.blank-text {
  display: block;
  width: 62%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 36px;
  padding-bottom: 36px;
}

.address-block {
  width: 40%;
  max-width: 555px;
  min-height: 268px;
  margin-top: 121px;
  margin-left: 37px;
  padding: 29px 41px 6px;
  background-color: hsla(0, 0%, 100%, 0.59);
}

.add-page-text {
  margin-bottom: 33px;
  color: #304672;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

.hero-white-text {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 63px;
  line-height: 70px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.bio-pic {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  border-radius: 150px;
}

.bio-pic.bio-raj {
  background-image: url('../images/dr-pic-Artboard-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bio-pic.bio-s {
  background-image: url('../images/dr-pic-Artboard-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bio-pic.bio-sd {
  background-image: url('../images/dr-pic-Artboard-4.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-pic-both {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100px;
  margin-bottom: 29px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.half-bio-1 {
  width: 50%;
  min-height: 100px;
  float: left;
}

.half-bio-1.half-bio-2 {
  padding-top: 26px;
}

.bio-sub-txt {
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  font-weight: 200;
}

html.w-mod-js *[data-ix="new-interaction"] {
  -webkit-transform: translate(0px, 44px);
  -ms-transform: translate(0px, 44px);
  transform: translate(0px, 44px);
}

@media (max-width: 991px) {
  .header {
    height: 73px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .cont.cont-home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .cont.cont-home.cont-home-2 {
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 15px solid #fff;
  }
  .cont.cont-footer {
    padding-top: 30px;
  }
  .cont.cont-about {
    padding-top: 46px;
    padding-bottom: 64px;
  }
  .cont.cont-about.cont-team {
    padding-top: 42px;
    padding-bottom: 38px;
  }
  .navbar {
    height: 73px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .nav-link {
    margin-bottom: 21px;
    color: #304672;
    font-size: 17px;
    font-weight: 700;
  }
  .container {
    width: 39%;
    height: 73px;
    margin-right: 0px;
  }
  .hero-sec.hero-home {
    height: auto;
    padding-top: 36px;
    padding-bottom: 36px;
    background-size: cover;
  }
  .hero-sec.hero-about {
    height: 380px;
  }
  .hero-sec.hero-team {
    height: 380px;
  }
  .hero-sec.hero-contact {
    min-height: 719px;
    background-position: 100% 50%;
  }
  .link-block {
    width: 44%;
    height: 100%;
  }
  .nav-menu {
    padding-top: 24px;
    padding-bottom: 29px;
  }
  .gold-hero-text {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 2px;
  }
  .logo-link {
    width: 48%;
    max-width: 405px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .menu-button {
    height: 73px;
    padding-top: 24px;
  }
  .h-half-pic {
    width: 38%;
    background-size: cover;
  }
  .h-half-pic.half-pic-2 {
    width: 38%;
    background-position: 50% 50%;
  }
  .hi.h1-top {
    font-size: 23px;
    line-height: 36px;
  }
  .hi.h1-about {
    font-size: 23px;
  }
  .h-body-sec {
    padding-top: 0px;
  }
  .half-text {
    width: 62%;
    padding-right: 37px;
    padding-left: 37px;
  }
  .half-text.half-text-2 {
    width: 62%;
  }
  .para {
    font-size: 15px;
    line-height: 26px;
  }
  .para.para-body {
    line-height: 30px;
  }
  .quote-section {
    min-height: 170px;
    padding-top: 49px;
    padding-bottom: 49px;
  }
  .quotes-t {
    font-size: 22px;
    line-height: 32px;
  }
  .footer {
    min-height: 266px;
    padding-bottom: 19px;
  }
  .footer-gold-logo {
    max-width: 263px;
  }
  .copyright-text {
    margin-top: 27px;
  }
  .foot-menu-div {
    width: 65%;
    max-width: 500px;
  }
  .about-div-text {
    margin-bottom: 29px;
    padding-bottom: 15px;
  }
  .mt-icon {
    width: 90px;
  }
  .address-block {
    width: 60%;
    min-height: 256px;
    padding-bottom: 17px;
    background-color: hsla(0, 0%, 100%, 0.71);
  }
  .add-page-text {
    margin-bottom: 24px;
  }
  .hero-white-text {
    max-width: 600px;
    padding-right: 53px;
    padding-left: 53px;
    font-size: 52px;
    line-height: 64px;
  }
  .ham {
    width: 26px;
  }
}

@media (max-width: 767px) {
  .cont.cont-home {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cont.cont-home.cont-home-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cont.quotes-cont {
    padding-right: 48px;
    padding-left: 48px;
  }
  .cont.cont-footer {
    padding-top: 32px;
    padding-right: 9px;
    padding-left: 9px;
  }
  .cont.cont-about {
    padding-bottom: 33px;
  }
  .nav-link.nav-link-foot {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 9px;
    padding-left: 9px;
  }
  .container {
    width: 32%;
  }
  .hero-sec.hero-home {
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .hero-sec.hero-about {
    height: 300px;
  }
  .hero-sec.hero-team {
    height: 300px;
  }
  .hero-sec.hero-contact {
    min-height: 620px;
  }
  .link-block {
    width: 71%;
  }
  .gold-hero-text {
    width: 85%;
    margin-bottom: 16px;
    padding-bottom: 0px;
  }
  .logo-link {
    width: 63%;
    max-width: 331px;
  }
  .h-half-pic {
    width: 100%;
    height: 220px;
    background-position: 50% 50%;
  }
  .h-half-pic.half-pic-2 {
    width: 100%;
  }
  .hi.h1-top {
    font-size: 22px;
    line-height: 35px;
  }
  .hi.h1-about {
    font-size: 20px;
    line-height: 27px;
  }
  .half-text {
    width: 100%;
    padding: 42px 23px 60px;
  }
  .half-text.half-text-2 {
    width: 100%;
  }
  .para.para-body {
    font-size: 16px;
  }
  .quote-section {
    padding: 42px 15px;
    font-size: 13px;
  }
  .quotes-t {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 21px;
    line-height: 31px;
  }
  .footer {
    min-height: 258px;
    padding-bottom: 10px;
  }
  .footer-gold-logo {
    max-width: 237px;
  }
  .footer-address {
    font-size: 15px;
  }
  .copyright-text {
    margin-top: 24px;
  }
  .foot-menu {
    padding-right: 14px;
    padding-left: 14px;
  }
  .foot-menu-div {
    width: 90%;
  }
  .mt-icon {
    width: 77px;
  }
  .address-block {
    width: 330px;
    min-height: 250px;
    margin-top: 58px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 30px;
  }
  .add-page-text {
    margin-bottom: 28px;
    font-size: 17px;
  }
  .hero-white-text {
    padding-right: 23px;
    padding-left: 23px;
    font-size: 46px;
    line-height: 57px;
  }
  .ham {
    width: 21px;
  }
  .bio-pic {
    width: 120px;
    height: 120px;
  }
  .half-bio-1 {
    width: 47%;
  }
  .half-bio-1.half-bio-2 {
    width: 57%;
  }
  .bio-sub-txt {
    margin-top: 4px;
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .cont.quotes-cont {
    padding-right: 19px;
    padding-left: 19px;
    font-size: 11px;
  }
  .cont.cont-about {
    padding-top: 28px;
  }
  .cont.cont-about.cont-team {
    padding-top: 41px;
  }
  .nav-link.nav-link-foot {
    margin-bottom: 0px;
  }
  .nav-link.nav-link-foot.w--current {
    margin-bottom: 2px;
  }
  .container {
    width: 19%;
  }
  .hero-sec.hero-home {
    padding-top: 29px;
    padding-bottom: 29px;
    background-size: cover;
  }
  .hero-sec.hero-about {
    height: 300px;
  }
  .hero-sec.hero-team {
    height: 300px;
    background-position: 50% 50%;
  }
  .hero-sec.hero-contact {
    min-height: 540px;
  }
  .link-block {
    width: 76%;
  }
  .gold-hero-text {
    width: 100%;
    padding-bottom: 1px;
  }
  .logo-link {
    width: 81%;
    max-width: 330px;
  }
  .menu-button {
    padding-top: 26px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .hi.h1-top {
    font-size: 21px;
    line-height: 25px;
  }
  .hi.h1-about {
    font-size: 21px;
    line-height: 27px;
    text-align: center;
  }
  .quote-section {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .quotes-t {
    font-size: 18px;
    line-height: 29px;
  }
  .footer {
    padding-bottom: 16px;
  }
  .footer-address {
    max-width: 268px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
  }
  .copyright-text {
    margin-top: 23px;
    font-size: 12px;
  }
  .foot-menu {
    height: auto;
  }
  .foot-menu-div {
    width: 96%;
  }
  .about-div-text {
    padding-right: 21px;
    padding-left: 21px;
  }
  .mt-icon {
    width: 82px;
  }
  .blank-text {
    width: 100%;
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .address-block {
    width: 290px;
    min-height: 249px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 9px;
    padding-bottom: 2px;
    padding-left: 21px;
    background-color: hsla(0, 0%, 100%, 0.78);
  }
  .add-page-text {
    margin-bottom: 21px;
  }
  .hero-white-text {
    max-width: 400px;
    font-size: 32px;
    line-height: 41px;
  }
  .ham {
    width: 20px;
  }
  .div-pic-both {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .half-bio-1 {
    width: 100%;
    min-height: 80px;
  }
  .half-bio-1.half-bio-2 {
    width: 100%;
  }
  .bio-sub-txt {
    text-align: center;
  }
}

@font-face {
  font-family: 'webfont';
  src: url('../fonts/verbextrabold-webfont.woff') format('woff'), url('../fonts/verbbold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../fonts/verbmedium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../fonts/verbextralight-italic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'webfont';
  src: url('../fonts/verbregular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../fonts/verbsemibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../fonts/verbblack-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}